[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-datadir = "*"
pytest = "*"
pytest-cov = "*"
codecov = "==2.0.22"
pylint = "*"
pytest-mock = "*"
pipenv-setup = "*"

[packages]
pyyaml = "==5.3.1"
docutils = "==0.14"
jinja2 = "==2.10.1"
click = "==7.0"
boto3 = "*"
pykwalify = "==1.7.0"
better-boto = "==0.23.0"
cfn-flip = "==1.2.1"
terminaltables = "==3.1.0"
colorclass = "==2.2.0"
luigi = "==2.8.6"
requests = "==2.22.0"
aws-service-catalog-factory = {path = "."}

[requires]
python_version = "3.7"
