            - Name: {{ action }}
              ActionTypeId:
                Category: Test
                Owner: AWS
                Version: 1
                Provider: CodeBuild
              Configuration:
                ProjectName: !Ref {{ action }}Project
              RunOrder: 1
              InputArtifacts:
              {% if ShouldParseAsJinja2Template %}
                - Name: Parse
              {% else %}
                - Name: Source
              {% endif %}
              OutputArtifacts:
                - Name: Test{{ action }}