  CFNNagProject:
    Type: AWS::CodeBuild::Project
    Properties:
      Name: !Sub "${AWS::StackName}-CFNNagProject"
      ServiceRole: !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/servicecatalog-product-factory/DeliveryCodeRole"
      Artifacts:
        Type: CODEPIPELINE
      Environment:
        Type: linuxContainer
        ComputeType: BUILD_GENERAL1_SMALL
        Image: aws/codebuild/standard:4.0
      Source:
        Type: CODEPIPELINE
        BuildSpec: |
            version: 0.2
            phases:
              install:
                runtime-versions:
                  ruby: 2.x
                commands:
                  - gem install cfn-nag
                  - cfn_nag_rules # Show all cfn_nag_rules that will be used in the scan
              build:
                commands:
                  - cfn_nag_scan --input-path ./product.template.{{ template_format }}
            artifacts:
              files: '**/*'
      TimeoutInMinutes: 20
      Tags:
        - Key: "ServiceCatalogFactory:Actor"
          Value: "Generated"
{% for tag in tags %}
        - Key: "{{ tag.get("Key") }}"
          Value: "{{ tag.get("Value") }}"
{% endfor %}
