  CloudformationRSpecProject:
    Type: AWS::CodeBuild::Project
    Properties:
      Name: !Sub "${AWS::StackName}-CloudformationRSpecProject"
      ServiceRole: !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:role/servicecatalog-product-factory/DeliveryCodeRole"
      Artifacts:
        Type: CODEPIPELINE
      Environment:
        Type: linuxContainer
        ComputeType: BUILD_GENERAL1_SMALL
        Image: aws/codebuild/standard:4.0
      Source:
        Type: CODEPIPELINE
        BuildSpec: |
            version: 0.2
            phases:
              install:
                runtime-versions:
                  ruby: 2.7
                  python: 3.7
                commands:
                  - gem install cloudformation_rspec
                  - gem install rspec_junit_formatter
                  - pip install cfn-lint
              build:
                commands:
                  - rspec  --format progress --format RspecJunitFormatter --out reports/rspec.xml specs/
            reports:
              junit:
                files:
                  - '**/*'
                base-directory: reports
                file-format: JUNITXML
            artifacts:
              files:
                - '**/*'
      TimeoutInMinutes: 20
      Tags:
        - Key: "ServiceCatalogFactory:Actor"
          Value: "Generated"
{% for tag in tags %}
        - Key: "{{ tag.get("Key") }}"
          Value: "{{ tag.get("Value") }}"
{% endfor %}
